body,
html {
    margin: 0;
    height: 100%;
}

.bg {
    background-image: url(imgSite/fundo\ jão\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.menu {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: #b82121;
}

.titulos {
    font-size: 80px;
    font-family: fantasy;
    color: #b41919;

}

.tabela {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;



}

.escrita {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    background-color: #077193;
    box-sizing: border-box;
    position: absolute;
    left: 70px;
    width: 72%;
    height: 78%;
    padding: 20px 25px 10px 25px;


}